.reviews {
    hr {
        background-color:#F6F6F6;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__block {
        display: flex;
        justify-content: flex-start;
        margin: 50px 0;
    }
    &__text {
        margin-left: 61px;
        text-align: left;
    }
    &__name {
        color:#0D0D0D;
        font-weight: 700;
        font-size: 18px;
    }
    &__marathon {
        margin-top: 10px;
        color:#646464;
        font-weight: 300;
        font-size: 14px;
    }
    &__descr {
        margin-top: 20px;
        color:#0D0D0D;
        font-weight: 300;
        font-size:16px;
    }
}